<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>Username: <%= @user.name %></p>
	<p>Email: <%= @user.email %></p>
	<p>Password: <%= @user.password %></p>
	<a href="#">Change Password</a><br/>
	<a href="#">Change Email</a><br/>
	<a href="/logout">Logout</a><br/>
</body>
</html>